/* Step 1 */

position: relative;
width: 1662px;
height: 3315px;
left: 357px;
top: 573px;

background: #FFFFFF;
border-radius: 0px;


/* ProposalWriterWizard */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 896px;
height: 2934px;
left: 499px;
top: 206px;

border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 896px;
height: 60px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 174.28px;

width: 896px;
height: 60px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 630.52px;
height: 60px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

width: 630.52px;
height: 32px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Step 1: Information Consolidation */

position: absolute;
width: 364px;
height: 32px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

color: #0A0A0A;



/* Paragraph */

width: 630.52px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Gather all necessary context: RFPs, reference prop */

position: absolute;
width: 649px;
height: 24px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #717182;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 92px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

width: 100px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Stage: */

position: absolute;
width: 41px;
height: 20px;
left: 1px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: right;

color: #717182;



/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 49.91px;
height: 19px;
left: 41.3px;
top: 0px;

border-radius: 0px;


/* Scoping */

width: 51px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: right;

color: #155DFC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 92px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 1 of 5 */

position: absolute;
width: 36px;
height: 20px;
left: 55.84px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: right;

color: #717182;



/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 896px;
height: 2616px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;
gap: 40px;

width: 896px;
height: 146px;

background: #EFF6FF;
border: 1px solid #BEDBFF;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 365.34px;

width: 846px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 385.08px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

width: 385.08px;
height: 28px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Information Gathering Progress */

position: absolute;
width: 252px;
height: 28px;
left: 0px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #193CB8;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 385.08px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Collect all necessary documents and context before */

width: 392px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #155DFC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 95.58px;
height: 48px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

width: 95.58px;
height: 32px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 0/3 */

position: absolute;
width: 36px;
height: 32px;
left: 60.34px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: right;

color: #193CB8;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 95.58px;
height: 16px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* sections complete */

width: 97px;
height: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: right;

color: #155DFC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 846px 0px 0px;

width: 846px;
height: 8px;

background: #BEDBFF;
border-radius: 3.35544e+07px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

width: 1px;
height: 8px;

background: #155DFC;
border-radius: 3.35544e+07px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;
gap: 40px;

width: 896px;
height: 508px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ProposalStep1 */

width: 846px;
height: 72px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 4px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.66667px solid #E7000B;


/* Vector */

position: absolute;
left: 58.33%;
right: 16.67%;
top: 8.33%;
bottom: 66.67%;

border: 1.66667px solid #E7000B;


/* Vector */

position: absolute;
left: 33.33%;
right: 58.33%;
top: 37.5%;
bottom: 62.5%;

border: 1.66667px solid #E7000B;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 54.17%;
bottom: 45.83%;

border: 1.66667px solid #E7000B;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 70.83%;
bottom: 29.17%;

border: 1.66667px solid #E7000B;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 814px;
height: 72px;
left: 32px;
top: 0px;

border-radius: 0px;


/* Heading 3 */

width: 814px;
height: 28px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* RFP / Call for Proposals */

position: absolute;
width: 193px;
height: 28px;
left: 0px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #0A0A0A;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 814px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Upload the official Request for Proposals document */

width: 810px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ProposalStep1 */

box-sizing: border-box;

width: 846px;
height: 240px;

border: 2px solid #D1D5DC;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Icon */

position: absolute;
width: 48px;
height: 48px;
left: 399px;
top: 34px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 12.5%;
bottom: 37.5%;

border: 4px solid #99A1AF;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 12.5%;
bottom: 66.67%;

border: 4px solid #99A1AF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 62.5%;
bottom: 12.5%;

border: 4px solid #99A1AF;


/* Paragraph */

position: absolute;
width: 778px;
height: 28px;
left: 34px;
top: 98px;

border-radius: 0px;


/* Drop RFP file here or click to upload */

position: absolute;
width: 290px;
height: 28px;
left: 243.81px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #0A0A0A;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 778px;
height: 20px;
left: 34px;
top: 134px;

border-radius: 0px;


/* Supports PDF, DOC, DOCX files up to 10MB */

width: 778px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* SlotClone */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

position: absolute;
width: 104.69px;
height: 36px;
left: 370.66px;
top: 170px;

background: #166534;
border-radius: 8px;


/* Choose File */

width: 75px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ProposalStep1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 13px 13px 1px;

width: 846px;
height: 66px;

background: #FEFCE8;
border: 1px solid #FFF085;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

width: 820px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon */

position: absolute;
width: 16px;
height: 16px;
left: 0px;
top: 2px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 8.33%;
bottom: 8.33%;

border: 1.33333px solid #D08700;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 33.33%;
bottom: 50%;

border: 1.33333px solid #D08700;


/* Vector */

position: absolute;
left: 50%;
right: 49.96%;
top: 66.67%;
bottom: 33.33%;

border: 1.33333px solid #D08700;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 353.98px;
height: 40px;
left: 24px;
top: 0px;

border-radius: 0px;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 353.98px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Missing RFP Document */

width: 353.98px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #894B00;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 353.98px;
height: 16px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Upload donor guidelines if not included in the mai */

width: 353px;
height: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #A65F00;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;
gap: 40px;

width: 896px;
height: 354px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* ProposalStep1 */

width: 846px;
height: 72px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 4px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.66667px solid #00A63E;


/* Vector */

position: absolute;
left: 58.33%;
right: 16.67%;
top: 8.33%;
bottom: 66.67%;

border: 1.66667px solid #00A63E;


/* Vector */

position: absolute;
left: 33.33%;
right: 58.33%;
top: 37.5%;
bottom: 62.5%;

border: 1.66667px solid #00A63E;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 54.17%;
bottom: 45.83%;

border: 1.66667px solid #00A63E;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 70.83%;
bottom: 29.17%;

border: 1.66667px solid #00A63E;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 814px;
height: 72px;
left: 32px;
top: 0px;

border-radius: 0px;


/* Heading 3 */

width: 814px;
height: 28px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Reference Proposals */

position: absolute;
width: 169px;
height: 28px;
left: 0px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #0A0A0A;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 814px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Upload successful proposals to this donor or simil */

width: 814px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* ProposalStep1 */

box-sizing: border-box;

width: 846px;
height: 192px;

border: 2px solid #D1D5DC;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Icon */

position: absolute;
width: 32px;
height: 32px;
left: 407px;
top: 26px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 12.5%;
bottom: 37.5%;

border: 2.66667px solid #99A1AF;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 12.5%;
bottom: 66.67%;

border: 2.66667px solid #99A1AF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 62.5%;
bottom: 12.5%;

border: 2.66667px solid #99A1AF;


/* Paragraph */

position: absolute;
width: 794px;
height: 24px;
left: 26px;
top: 70px;

border-radius: 0px;


/* Drop reference proposals here or click to upload */

position: absolute;
width: 342px;
height: 24px;
left: 226.06px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #0A0A0A;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 794px;
height: 20px;
left: 26px;
top: 102px;

border-radius: 0px;


/* Multiple files supported */

width: 794px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* SlotClone */

box-sizing: border-box;

position: absolute;
width: 104.72px;
height: 32px;
left: 370.64px;
top: 134px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Choose Files */

position: absolute;
width: 82px;
height: 20px;
left: 11px;
top: 4px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #0A0A0A;



/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;
gap: 40px;

width: 896px;
height: 605px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* ProposalStep1 */

width: 846px;
height: 56px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 4px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.66667px solid #9810FA;


/* Vector */

position: absolute;
left: 58.33%;
right: 16.67%;
top: 8.33%;
bottom: 66.67%;

border: 1.66667px solid #9810FA;


/* Vector */

position: absolute;
left: 33.33%;
right: 58.33%;
top: 37.5%;
bottom: 62.5%;

border: 1.66667px solid #9810FA;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 54.17%;
bottom: 45.83%;

border: 1.66667px solid #9810FA;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 70.83%;
bottom: 29.17%;

border: 1.66667px solid #9810FA;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 814px;
height: 56px;
left: 32px;
top: 0px;

border-radius: 0px;


/* Heading 3 */

width: 814px;
height: 28px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Existing Work & Experience */

position: absolute;
width: 222px;
height: 28px;
left: 0px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #0A0A0A;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 814px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Describe your organization's relevant experience,  */

width: 814px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Textarea */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 12px;

width: 846px;
height: 128px;

background: #F3F3F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Describe your relevant experience, ongoing projects, previous work with similar donors, institutional strengths, partnerships, and any preliminary research or activities related to this call... */

width: 822px;
height: 40px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 451px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 320.77px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Please provide more detail (minimum 50 characters) */

width: 325px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 74.23px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 0 characters */

position: absolute;
width: 80px;
height: 20px;
left: -4.77px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;



/* ProposalStep1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 25px 0px 0px;
gap: 12px;

width: 846px;
height: 231px;

border-top: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Heading 4 */

width: 846px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting Documents (Optional) */

position: absolute;
width: 238px;
height: 24px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #0A0A0A;



/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Upload additional documents like organizational pr */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

box-sizing: border-box;

width: 846px;
height: 126px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Icon */

position: absolute;
width: 24px;
height: 24px;
left: 411px;
top: 17px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 12.5%;
bottom: 37.5%;

border: 2px solid #99A1AF;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 12.5%;
bottom: 66.67%;

border: 2px solid #99A1AF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 62.5%;
bottom: 12.5%;

border: 2px solid #99A1AF;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 812px;
height: 20px;
left: 17px;
top: 49px;

border-radius: 0px;


/* Drop supporting files here */

width: 812px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #0A0A0A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* SlotClone */

box-sizing: border-box;

position: absolute;
width: 83.95px;
height: 32px;
left: 381.02px;
top: 77px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Add Files */

position: absolute;
width: 59px;
height: 20px;
left: 13px;
top: 4px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #0A0A0A;



/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;
gap: 40px;

width: 896px;
height: 597px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* ProposalStep1 */

width: 846px;
height: 76px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 4px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 1.66667px solid #155DFC;


/* Vector */

position: absolute;
left: 58.33%;
right: 16.67%;
top: 8.33%;
bottom: 66.67%;

border: 1.66667px solid #155DFC;


/* Vector */

position: absolute;
left: 33.33%;
right: 58.33%;
top: 37.5%;
bottom: 62.5%;

border: 1.66667px solid #155DFC;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 54.17%;
bottom: 45.83%;

border: 1.66667px solid #155DFC;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 70.83%;
bottom: 29.17%;

border: 1.66667px solid #155DFC;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 814px;
height: 76px;
left: 32px;
top: 0px;

border-radius: 0px;


/* Heading 3 */

width: 814px;
height: 28px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Initial Concept or Direction */

position: absolute;
width: 212px;
height: 28px;
left: 0px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #0A0A0A;



/* Paragraph */

width: 814px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Outline your initial ideas, approach, or hypothesi */

position: absolute;
width: 770px;
height: 40px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #717182;



/* Textarea */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 12px;

width: 846px;
height: 128px;

background: #F3F3F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Describe your initial concept, proposed approach, target beneficiaries, expected outcomes, implementation strategy, or any specific innovations you plan to include... */

width: 1020px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 177.06px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 594.7px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Please provide more detail about your concept (min */

width: 595px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 74.23px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 0 characters */

position: absolute;
width: 80px;
height: 20px;
left: -4.77px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;



/* ProposalStep1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 0px 0px;
gap: 12px;

width: 846px;
height: 203px;

border-top: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Heading 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Or Upload Concept Document */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0A0A0A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 16px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Upload an existing Word document, PDF, or other fi */

width: 846px;
height: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #717182;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

box-sizing: border-box;

width: 846px;
height: 126px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Icon */

position: absolute;
width: 24px;
height: 24px;
left: 411px;
top: 17px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 12.5%;
bottom: 37.5%;

border: 2px solid #99A1AF;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 12.5%;
bottom: 66.67%;

border: 2px solid #99A1AF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 62.5%;
bottom: 12.5%;

border: 2px solid #99A1AF;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 812px;
height: 20px;
left: 17px;
top: 49px;

border-radius: 0px;


/* Drop concept document here */

width: 812px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #0A0A0A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* SlotClone */

box-sizing: border-box;

position: absolute;
width: 98.69px;
height: 32px;
left: 373.66px;
top: 77px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;


/* Choose File */

position: absolute;
width: 75px;
height: 20px;
left: 12px;
top: 4px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #0A0A0A;



/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;
gap: 36px;

width: 896px;
height: 286px;

background: #F0FDF4;
border: 1px solid #B9F8CF;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* ProposalStep1 */

width: 846px;
height: 28px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Next Steps */

position: absolute;
width: 89px;
height: 28px;
left: 0px;
top: -1px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #016630;



/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Once you complete this information gathering, our  */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #008236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* ProposalStep1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 846px;
height: 116px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* List Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Fit assessment between your work and RFP requireme */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #008236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* List Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Specific suggestions for strengthening your propos */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #008236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* List Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Checklist of mandatory RFP items to address */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #008236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* List Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Team skills and roles analysis */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #008236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* List Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 846px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Project roadmap with deadlines and milestones */

width: 846px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #008236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px 24px 24px;

width: 896px;
height: 86px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* ProposalWriterWizard */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 663.73px;

width: 846px;
height: 36px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button */

box-sizing: border-box;

width: 104.02px;
height: 36px;

background: #FFFFFF;
opacity: 0.5;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
width: 16px;
height: 16px;
left: 13px;
top: 10px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 1.33333px solid #0A0A0A;


/* Previous */

position: absolute;
width: 55px;
height: 20px;
left: 37px;
top: 6px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0A0A0A;



/* Button */

width: 78.25px;
height: 36px;

background: #155DFC;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Next */

position: absolute;
width: 29px;
height: 20px;
left: 12px;
top: 6px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;



/* Icon */

position: absolute;
width: 16px;
height: 16px;
left: 50.25px;
top: 10px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 1.33333px solid #FFFFFF;


/* TopNavBar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 40px 1px;

position: absolute;
width: 1662px;
height: 65px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-bottom: 1px solid #E5E7EB;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 1072.8px;

width: 1582px;
height: 64px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* IgadLogo */

width: 96px;
height: 64px;

background: url(image.png);
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 371.2px;
height: 36px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 14px;

position: absolute;
width: 118.97px;
height: 32px;
left: 0px;
top: 2px;

border-radius: 8px;


/* Icon */

width: 16px;
height: 16px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 58.33%;
top: 12.5%;
bottom: 50%;

border: 1.33333px solid #364153;


/* Vector */

position: absolute;
left: 58.33%;
right: 12.5%;
top: 12.5%;
bottom: 66.67%;

border: 1.33333px solid #364153;


/* Vector */

position: absolute;
left: 58.33%;
right: 12.5%;
top: 50%;
bottom: 12.5%;

border: 1.33333px solid #364153;


/* Vector */

position: absolute;
left: 12.5%;
right: 58.33%;
top: 66.67%;
bottom: 12.5%;

border: 1.33333px solid #364153;


/* TopNavBar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 68.97px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Dashboard */

width: 69px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #364153;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 36px;
height: 36px;
left: 170.97px;
top: 0px;

border-radius: 8px;


/* Icon */

width: 16px;
height: 16px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.43%;
right: 12.43%;
top: 8.33%;
bottom: 8.33%;

border: 1.33333px solid #364153;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 37.5%;
bottom: 37.5%;

border: 1.33333px solid #364153;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 156.23px;
height: 36px;
left: 214.97px;
top: 0px;

border-radius: 8px;


/* TopNavBar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

background: #000000;
border-radius: 3.35544e+07px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.84%;
top: 62.5%;
bottom: 12.5%;

border: 1.33333px solid #FFFFFF;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.34%;
top: 12.5%;
bottom: 54.17%;

border: 1.33333px solid #FFFFFF;


/* TopNavBar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 76.23px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* My Account */

width: 73px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #364153;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

position: absolute;
width: 36px;
height: 36px;
left: 126.97px;
top: 0px;

border-radius: 8px;


/* Icon */

position: absolute;
width: 16px;
height: 16px;
left: 10px;
top: 10px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 42.79%;
right: 42.78%;
top: 87.5%;
bottom: 8.33%;

border: 1.33333px solid #364153;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 29.17%;

border: 1.33333px solid #364153;


/* Badge */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: -4px;

background: #FB2C36;
border-radius: 8px;


/* 2 */

width: 7px;
height: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section Title */

position: absolute;
width: 1662px;
height: 64.91px;
left: 0px;
top: 65px;



/* Rectangle 5739 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #EDFDF5;
/* Grey-300 */
border-bottom: 1.08186px solid #E8EBED;


/* Frame 1171276205 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10.29px;

position: absolute;
left: 3.01%;
right: 87.12%;
top: 30.81%;
bottom: 31.29%;



/* Icon */

width: 11.07px;
height: 11.07px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

border: 0.922842px solid #0A0A0A;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

border: 0.922842px solid #0A0A0A;


/* Proposal Writer */

width: 143px;
height: 25px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20.7639px;
line-height: 25px;
/* identical to box height, or 120% */

color: #0A0A0A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

position: absolute;
left: 88.45%;
right: 3.01%;
top: 24.65%;
bottom: 24.54%;

background: #00A63E;
border-radius: 7.32903px;


/* Icon */

position: absolute;
visibility: hidden;
width: 14.66px;
height: 14.66px;
left: 10.99px;
top: 9.16px;

border-radius: 0px;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 12.5%;
bottom: 37.5%;

border: 1.22151px solid #FFFFFF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 62.5%;
bottom: 12.5%;

border: 1.22151px solid #FFFFFF;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 41.67%;
bottom: 37.5%;

border: 1.22151px solid #FFFFFF;


/* Prompt Manager */

position: absolute;
width: 96px;
height: 19px;
left: 22.9px;
top: 7.33px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12.8258px;
line-height: 18px;
/* identical to box height, or 143% */

color: #FFFFFF;



/* Card */

box-sizing: border-box;

position: absolute;
width: 332px;
height: 573px;
left: 50px;
top: 206px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 14px;


/* ProposalWriterWizard */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 1px;
gap: 12px;

position: absolute;
width: 265px;
height: 111px;
left: 33px;
top: 33px;

border-bottom: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 107px;

width: 265px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

width: 126.7px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Proposal Progress */

position: absolute;
width: 132px;
height: 24px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #0A0A0A;



/* Text */

width: 55px;
height: 24px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 20% */

position: absolute;
width: 33px;
height: 24px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #166534;



/* Primitive.div */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 177.6px 0px -177.6px;

width: 265px;
height: 10px;

background: rgba(22, 101, 52, 0.2);
border-radius: 3.35544e+07px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

width: 265px;
height: 10px;

background: #166534;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Paragraph */

width: 265px;
height: 20px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Step 1 of 5 */

position: absolute;
width: 92px;
height: 20px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #717182;



/* ProposalWriterWizard */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 222px;
height: 340px;
left: 33px;
top: 200px;

border-radius: 0px;


/* Container */

width: 222px;
height: 60px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

position: absolute;
width: 2px;
height: 84px;
left: 19px;
top: 40px;

background: #D1D5DC;
border-radius: 0px;


/* Button */

position: absolute;
width: 222px;
height: 60px;
left: 0px;
top: 0px;

border-radius: 0px;


/* Container */

position: absolute;
width: 166px;
height: 52px;
left: 56px;
top: 8px;

border-radius: 0px;


/* Information Consolidation */

position: absolute;
width: 98px;
height: 52px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

color: #101828;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;

background: #166534;
box-shadow: 0px 0px 0px 4px #DCFCE7;
border-radius: 3.35544e+07px;


/* 1 */

width: 9px;
height: 24px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 222px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

position: absolute;
width: 2px;
height: 64px;
left: 19px;
top: 40px;

background: #D1D5DC;
border-radius: 0px;


/* Button */

position: absolute;
width: 222px;
height: 40px;
left: 0px;
top: 0px;

border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

position: absolute;
width: 166px;
height: 34px;
left: 56px;
top: 0px;

opacity: 0.4;
border-radius: 0px;


/* Container */

width: 166px;
height: 26px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Concept Review */

position: absolute;
width: 117px;
height: 26px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #6A7282;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;

background: #E5E7EB;
border-radius: 3.35544e+07px;


/* 2 */

width: 9px;
height: 24px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #6A7282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 222px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

position: absolute;
width: 2px;
height: 64px;
left: 19px;
top: 40px;

background: #D1D5DC;
border-radius: 0px;


/* Button */

position: absolute;
width: 222px;
height: 40px;
left: 0px;
top: 0px;

border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

position: absolute;
width: 166px;
height: 34px;
left: 56px;
top: 0px;

opacity: 0.4;
border-radius: 0px;


/* Container */

width: 166px;
height: 26px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Structure & Workplan */

position: absolute;
width: 152px;
height: 26px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #6A7282;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;

background: #E5E7EB;
border-radius: 3.35544e+07px;


/* 3 */

width: 9px;
height: 24px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #6A7282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 222px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

position: absolute;
width: 2px;
height: 64px;
left: 19px;
top: 40px;

background: #D1D5DC;
border-radius: 0px;


/* Button */

position: absolute;
width: 222px;
height: 40px;
left: 0px;
top: 0px;

border-radius: 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

position: absolute;
width: 166px;
height: 34px;
left: 56px;
top: 0px;

opacity: 0.4;
border-radius: 0px;


/* Container */

width: 166px;
height: 26px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Proposal Review */

position: absolute;
width: 121px;
height: 26px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #6A7282;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;

background: #E5E7EB;
border-radius: 3.35544e+07px;


/* 4 */

width: 9px;
height: 24px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #6A7282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 222px;
height: 40px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

position: absolute;
width: 166px;
height: 34px;
left: 56px;
top: 0px;

opacity: 0.4;
border-radius: 0px;


/* Container */

width: 166px;
height: 26px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Finalize */

position: absolute;
width: 56px;
height: 26px;
left: 0px;
top: -2px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #6A7282;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;

background: #E5E7EB;
border-radius: 3.35544e+07px;


/* 5 */

width: 9px;
height: 24px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #6A7282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
