/* Login */

position: relative;
width: 1662px;
height: 1068.43px;
left: 281px;
top: 335px;

background: #FFFFFF;


/* Texture 8 */

position: absolute;
width: 1390.34px;
height: 739.59px;
left: 0px;
top: 0px;

background: url(Texture 40.jpg);
mix-blend-mode: luminosity;
transform: rotate(-90deg);


/* Content */

position: absolute;
visibility: hidden;
width: 619.02px;
height: 802.84px;
left: 39.75px;
top: 45.71px;

background: rgba(255, 255, 255, 0.25);
opacity: 0.8;
border-radius: 20.1549px;


/* Frame 1171276203 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 118.71px;

position: absolute;
width: 460.04px;
height: 698.19px;
left: 142.46px;
top: 107.19px;



/* ImageWithFallback */

width: 459.42px;
height: 87.85px;

background: url(image.png);
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* content */

width: 460.04px;
height: 491.62px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1171276199 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 31.8px;

position: absolute;
width: 460.04px;
height: 491.62px;
left: 0px;
top: 206.56px;



/* input

InputText renders a text field to enter data.

InputText renders a text field to enter data.
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3.48px;

display: none;
width: 460.04px;
height: 37.76px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1171276204 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11.87px;

width: 460.61px;
height: 86.87px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Log In */

width: 460.61px;
height: 44px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 35.6143px;
line-height: 44px;
/* identical to box height, or 123% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;

color: #016630;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Generate comprehensive agricultural and policy rep */

width: 459.42px;
height: 31px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16.62px;
line-height: 31px;
/* identical to box height, or 186% */
text-align: center;

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16.62px;

width: 460.61px;
height: 86.73px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Email adress */

width: 460.61px;
height: 25px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20.775px;
line-height: 120%;
/* identical to box height, or 25px */

color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4.15px;

width: 460.61px;
height: 45.11px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12.465px;
gap: 12.47px;

width: 460.61px;
height: 45.11px;

/* input/background */
background: #FFFFFF;
/* input/borderColor */
border: 1.18714px solid #D1D5DB;
border-radius: 7.12286px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* search */

display: none;
width: 16.62px;
height: 16.62px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _input-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 416.69px;
height: 16.62px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Placeholder */

width: 1359.26px;
height: 17px;

/* input/text/typography */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

color: #969696;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 6.53px;
height: 20.18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* _input-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

display: none;
width: 173.32px;
height: 20.18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* search */

display: none;
width: 16.62px;
height: 16.62px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Helper Text */

display: none;
width: 256.42px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14.2457px;
line-height: 25px;
/* identical to box height, or 175% */

/* global/textColor */
color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1171276202 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 21.37px;

width: 460.61px;
height: 128.1px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 1171276199 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16.62px;

width: 460.61px;
height: 86.73px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Password */

width: 460.61px;
height: 25px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20.775px;
line-height: 120%;
/* identical to box height, or 25px */

color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4.15px;

width: 460.61px;
height: 45.11px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* input */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12.465px;
gap: 12.47px;

width: 460.61px;
height: 45.11px;

/* input/background */
background: #FFFFFF;
/* input/borderColor */
border: 1.18714px solid #D1D5DB;
border-radius: 7.12286px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* search */

display: none;
width: 16.62px;
height: 16.62px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _input-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 407.19px;
height: 16.62px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Placeholder */

width: 1359.26px;
height: 17px;

/* input/text/typography */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

color: #969696;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* eye-slash */

width: 13.91px;
height: 13.91px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
width: 13.91px;
height: 10.73px;
left: 0px;
top: 1.59px;

background: #6B7280;


/* Vector */

position: absolute;
left: 37.48%;
right: 0%;
top: 11.44%;
bottom: 31.66%;

/* input/icon/color */
background: #6B7280;


/* Vector */

position: absolute;
left: 0%;
right: 11.47%;
top: 11.55%;
bottom: 11.44%;

/* input/icon/color */
background: #6B7280;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1px;
height: 20.18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* _input-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

display: none;
width: 173.32px;
height: 20.18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* search */

display: none;
width: 16.62px;
height: 16.62px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Helper Text */

display: none;
width: 256.42px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14.2457px;
line-height: 25px;
/* identical to box height, or 175% */

/* global/textColor */
color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1171276200 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32.05px;

width: 459.42px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* agree */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 11.92px;

width: 308.66px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox */

box-sizing: border-box;

width: 19.87px;
height: 19.87px;

background: #F3F3F5;
border: 1.18714px solid rgba(0, 0, 0, 0.1);
border-radius: 3.56143px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox/false */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border-radius: 3.97446px;


/* Remember me */

width: 426.18px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13.9106px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #0A0A0A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1171276195 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11.92px;

width: 112px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Forgot password? */

width: 112px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13.9106px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #00A63E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1171276198 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 31.8px;

width: 459.05px;
height: 94.53px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 1171276197 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 31.8px;

width: 459.05px;
height: 94.53px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

width: 459.42px;
height: 42.74px;

background: #00A63E;
border-radius: 9.49714px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1171276201 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11.87px;

position: absolute;
width: 72.42px;
height: 24px;
left: 193.5px;
top: 9.6px;



/* Log In */

width: 47px;
height: 24px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16.62px;
line-height: 24px;
/* identical to box height, or 143% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18.99px;
height: 18.99px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.84%;
right: 20.83%;
top: 50%;
bottom: 50%;

border: 1.58286px solid #FFFFFF;


/* Vector */

position: absolute;
left: 50%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 1.58286px solid #FFFFFF;


/* Frame 1171276195 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11.92px;

width: 297px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Need help? Contact our support team at [email]. */

width: 297px;
height: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13.9106px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #4A5565;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image 3 */

position: absolute;
width: 922.45px;
height: 1090.94px;
left: 739.59px;
top: 0px;

background: url(image.png);


/* 4.1 */

position: absolute;
width: 1639.84px;
height: 922.41px;
left: 739.59px;
top: 0px;

background: rgba(251, 245, 241, 0.38);
transform: rotate(-90deg);


/* Group 1430105151 */

position: absolute;
width: 2621.67px;
height: 2612.48px;
left: -1141.49px;
top: -236.25px;

transform: rotate(29.19deg);


/* Ellipse 5765 */

position: absolute;
width: 1764.27px;
height: 1041.55px;
left: -167.24px;
top: 422.02px;

background: rgba(220, 252, 231, 0.22);
filter: blur(201.934px);
transform: rotate(-112deg);


/* Ellipse 5763 */

position: absolute;
width: 1891.51px;
height: 1831.3px;
left: -563.31px;
top: 323.52px;

background: rgba(0, 255, 135, 0.19);
filter: blur(140.74px);
transform: rotate(-112deg);


/* Ellipse 5762 */

position: absolute;
width: 1547.27px;
height: 913.45px;
left: -26.57px;
top: 647.21px;

background: rgba(220, 252, 231, 0.22);
filter: blur(177.097px);
transform: rotate(-112deg);


/* Ellipse 5764 */

position: absolute;
width: 765.88px;
height: 769.96px;
left: 208.4px;
top: 1140.94px;

background: rgba(0, 166, 62, 0.4);
filter: blur(212.672px);
transform: rotate(-112deg);
