[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | \.aws-sam
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88
known_first_party = ["app"]
known_third_party = ["fastapi", "pydantic", "boto3", "uvicorn"]

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
strict_equality = true
ignore_missing_imports = true
no_implicit_optional = false
disable_error_code = [
    "no-any-return",
    "no-untyped-def",
    "assignment",
    "arg-type",
    "misc",
    "operator",
    "return-value",
    "var-annotated",
    "attr-defined",
    "truthy-function",
    "index",
    "unreachable",
]
exclude = [
    "\\.aws-sam/",
    "venv/",
    "\\.venv/",
    "__pycache__/",
]
